.header{background-color: #128C7E;
height:280px;
margin-top:0px;
border-top-right-radius:40px;
border-top-left-radius:40px}

.title{color:white;
margin-bottom:32px;
padding-top:50px;
padding-bottom:0px;
padding-left:30px;
font-size:80px;
font-family:Arial;}

.opts{color:white;
padding-top:0px;
padding-bottom:0px;
margin-left:20px;
margin-top:0px;
font-size:50px;
font-family:Arial;
font-weight:bolder;}
.home{margin-right:30px;
margin-left:40px;}
.calls{margin-right:30px;
margin-left:40px;}
.updates{margin-right:30px;
margin-left:40px;
text-decoration:underline}
.contacts{margin-right:30px;
margin-left:40px;}

.dp{width:160px;
height:160px;
border-radius:80px;
margin: 20px 0px 10px 20px; 
display:inline-block;
background-color:blue}
.image{display:inline-block;
vertical-align:top;}
.details{display:inline-block;}
.name{font-size:50px;
padding-top:0px;
margin-bottom:0px;
padding-left:20px
}
.time{margin-left:20px;
font-size:25px;}
.no{text-align:center;
font-size:30px;}
.dps{border-width:5px;
border-style:dashed;
width:160px;
height:160px;
border-radius:80px;
margin: 20px 0px 10px 20px; 
display:inline-block;}