.body{background-color:pink}


.header{background-color: #128C7E;
height:280px;
margin-top:0px;
border-top-right-radius:40px;
border-top-left-radius:40px}

.title{color:white;
margin-bottom:32px;
padding-top:50px;
padding-bottom:0px;
padding-left:30px;
font-size:80px;
font-family:Arial;}

.opts{color:white;
padding-top:0px;
padding-bottom:0px;
margin-left:20px;
margin-top:0px;
font-size:50px;
font-family:Arial;
font-weight:bolder;}
.home{margin-right:30px;
margin-left:40px;
text-decoration:underline}
.calls{margin-right:30px;
margin-left:40px;}
.updates{margin-right:30px;
margin-left:40px;}
.contacts{margin-right:30px;
margin-left:40px;}

.dp{width:160px;
height:160px;
border-radius:80px;
margin: 20px 0px 10px 20px; 
display:inline-block;
background-color:blue}
.image{display:inline-block;
vertical-align:top;}
.details{display:inline-block;}
.name{font-size:50px;
padding-top:0px;
margin-bottom:0px;
padding-left:20px
}
.msg{font-size:30px;
padding-top:0px;
padding-left:20px;
padding-right:0px;
color:grey;
display:inline-block;
width:620px}
.time{font-size:25px;
display:inline-block;
padding: 0px 0px 0px 0px; 
margin:0px 0px 0px 0px; 
color:grey;
width:110px}
.b-tick{color:blue}
.g-tick{color:grey}
.body{height:1200px;
background-color:white;
overflow-x:hidden;
overflow-y:auto;}
.body{box-shadow:2px 2px 2px grey; }